/.vscode
/lol.jpg
/Multi-Threaded Image Convolution.py
/Single-ThreadedImageConvolution.py
/Smart Factory Simulation copy.py
/Smart Factory Simulation.py
/templates
/test_image.jpg
/v0.py
/view.html
/view.py